::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

#exit-button {
    transition: 400ms;
}

#exit-button:hover {
    color: #df49a6;
    transform: rotate(-180deg);
    transition: 400ms;
}

label {
    font-size: 12px;
}

h2 {
    font-size: x-large;
}

main {
    margin-left: 5rem;
}


header {
    margin-left: 5rem;
    padding: 1rem;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-primary);
}

#header-text {
    color: var(--text-primary);
}

#header-text:hover {
    color: #df49a6;
    cursor: pointer;
    transition: 400ms;
}

body {
    background-color: var(--bg-secondary);
    padding: 0;
    margin: -.5rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.button-div {
    margin-left: 7rem;
    margin-right: 2.5rem;
    margin-top: -1rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: var(--bg-secondary);
    overflow-x: auto;
}

#themeButton {
    position: absolute;
    bottom: 0px;
}

.button-div h2 {
    padding: 1rem;
    margin: .5rem;
    margin-top: 1rem;
    color: var(--text-secondary);
    background-color: var(--bg-primary);
    text-align: center;
    transition: 400ms;
}

#menu-buttons {
    margin-left: 7rem;
    margin-right: 2.5rem;
    margin-top: -1rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: var(--bg-secondary);
    overflow-x: auto;
}

#menu-buttons h2 {
    padding: 1rem;
    margin: .5rem;
    margin-top: 1rem;
    color: var(--text-secondary);
    background-color: var(--bg-primary);
    text-align: center;
    transition: 400ms;
}

#menu-buttons h2:hover {
    color: #df49a6;
    cursor: pointer;
    font-size: 1.65rem;
    transition: 400ms;
}



#activity-label {
    color: var(--text-secondary);
    padding: 0;
    margin-left: 7.4rem;
    margin-top: 1rem;
    font-size: x-large;
}

.button-div h2:hover {
    color: #df49a6;
    cursor: pointer;
    font-size: 1.65rem;
    transition: 400ms;
}

#sign-in {
      color: var(--text-primary);
}

#sign-in:hover {
    color: #df49a6;
    cursor: pointer;
    transition: 400ms;
}

#submit:hover {
    color: #df49a6;
    cursor: pointer;
    transition: 400ms;
}

#create-account {
    color: var(--text-primary);
}

#search-results-label {
    margin-left: 7.4rem;
    color: var(--text-secondary);
}

#item-list {
    margin-left: 7.4rem;
    margin-right: 2.5rem;
    color: var(--text-secondary);
    background-color: var(--bg-primary);
}
#item-list li {
    padding: 1rem;
    border: 1px solid var(--bg-primary);
    transition: 400ms;
}

#item-list li:hover {
    color: #df49a6;
    cursor: pointer;
    font-size: large;
    transition: 400ms;
}

#map {
    width: 100%;
    height: 40rem;
    margin-left: 0;
    z-index: 0;
    position: fixed;
}

.navbar {
    margin-left: 0rem;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
}
  
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
  
.nav-item {
    width: 100%;
}
  
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}
  
.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}
  
.link-text {
    display: none;
    margin-left: 1rem;
}
  
.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
    transition: 400ms;
}

.nav-link i {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
    transition: 800ms;
}

.nav-link:hover i {
    transform: rotate(-180deg);
    transition: 400ms;
}

.nav-link:hover svg {
    transform: rotate(-180deg);
    transition: 400ms;
}


.fa-primary {
    color: #ff7eee;
}
  
.fa-secondary {
    color: #df49a6;
}
  
.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}
  
.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.navbar i {
    transition: var(--transition-speed);
}

.navbar:hover i {
    color: #ff7eee;;
    transition: var(--transition-speed);
}
  
.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}
  
.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

#result-card {
    position: absolute;
    color: var(--text-secondary);
    background-color: var(--bg-secondary);
    z-index: 1;
    top: 6rem;
    right: 3rem;
    width: 20rem;
    height: 37rem;
    margin-left: 1rem;
}

#result-card h3 {
    margin-left: 1rem;
}

#result-card p {
    margin-left: 1rem;
}

#result-card i {
    top: .5rem;
    right: .5rem;
    position: absolute;
    cursor: pointer;
}

#result-card a {
    color: var(--text-secondary);
    margin-right: 1rem;
    word-wrap: normal;
    left: 1rem;
    position: relative;
}

#result-card h2 {
    background-color: var(--bg-primary);
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    transition: 400ms;
}

#result-card h2:hover {
    color: #df49a6;
    font-size: 1.65rem;
    transition: 400ms;
}

  
  /* Small screens */
@media only screen and (max-width: 600px) {

    body {
        overflow: auto;
    }

    #search-results-label {
        margin: 1rem;
    }
    
    #item-list {
        margin:0;
    }

    input {
        width: 5rem;
    }

    #submit {
        width: 3.5rem;
    }

    .navbar {
        bottom: 0;
        width: 105%;
        height: 2rem;
        overflow: hidden;
    }

    #themeButton {
        position: relative;
    }

    #activity-label {
        color: var(--text-secondary);
        margin: 1rem;
        margin-top: 0;
        margin-bottom: 0;
        font-size: medium;
    }

    .button-div {
        margin: 1rem;
        margin-top: 0;
        overflow: auto;
    }

    .button-div > h2 {
        font-size: small;
        margin-bottom: 1rem;
    }
    
  
    .logo {
        display: none;
    }
  
    .navbar-nav {
        flex-direction: row;
    }
  
    .nav-link {
        justify-content: center;
    }

    #header-text {
        color: var(--text-primary);
        font-size: large;
    }

    header{
        margin:0;
        display: block;
        height: 15vh;
    }

    main {
      margin: 0;
    }

    .button-div {
        margin: 0;
        overflow: hidden;
        margin-bottom: 1rem;
    }

    #map {
        height: 35rem;
    }

    #result-card {
        top: 10rem;
        right: 0;
        width: 15rem;
        height: 27rem;
        margin-left: 1rem;
    }
    
}
  
  /* Large screens */
@media only screen and (min-width: 600px) {


    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }


    .navbar:hover {
      width: 18.4rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 15rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 10px;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

}
  
.dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}
  
.light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
}
  